.App {
  min-height: 100vh;
}

.main-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--sidebar-width) minmax(0, 1fr);
}

@media (max-width: 900px) {
  .main-container {
    grid-template-columns: 1fr;
    padding-top: var(--header-height);
  }
}
